@font-face {
    font-family: Gilroy;
    src: url(./fff/Gilroy-Light.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Gilroy";
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
#overlay{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #0f0f0f;
    border-radius: 10px; /* Adjust as needed */
    backdrop-filter: blur(10px);
    /* z-index: 100; */
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
  }

  #overlay > a{
    text-decoration: none;
    scale: 3;
    position: sticky;
    top: 3%;
    right: 90%;
    z-index: 11;
  }

  #overlay > a > i{
    border-radius: 50%;
    color: black;
   background: linear-gradient(to right, blue, pink, yellow, red);
  }
  
  #overlay > h1{
    font-size: 4vw;
    color: #ffff;
  }

  #overlay > i{
    color: #fff;
    z-index: 100;
  }
  
  #grid-div{
    width: 85%;
    min-height: 100vh;
    border-radius: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    display: none;
  }

  #grid-div > #grid-box{
    width: 95%;
    height: 450px;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  #grid-Img{
    width: 100%;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;
    opacity: .7;
  }

  #grid-Img > img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
  } 

  #grid-box > h3,
  #grid-box > h5{
    padding: 5px 6px;
  }

  #searchbtn{
    padding: 10px 25px;
    color: #0f0f0f;
    position: sticky;
    font-size: 2vw;
    top: 90%;

    z-index: 10;

  }