@media screen and (max-width:767px) and (min-width: 350px){
   
    
    body, html{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
    }
    
    #main{
        background-color: rgba(76, 89, 103, 0.466);
        height: 120em;
        width: 35vh;
        margin:auto;
        justify-content: center; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: none; */
    }

    #card-cont{
        width: 200px;
        height: 300px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* margin: 5px 10px; */
        margin:auto;
        background: linear-gradient(45deg, #ff6600, #3399ff);
        box-sizing: content-box;
    }
}


