
@font-face {
    font-family: Gilroy;
    src: url(./fff/Gilroy-Light.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Gilroy";
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


#baap{
  overflow-x: hidden;
}

#main{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: black;
  overflow-x: hidden;
}
#nav{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgb(179, 185, 245);
    position: fixed;
    z-index: 11;
    color: white;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red ; */
    padding: 20px;
    transition: all ease .5s;
  }
  @media screen and (min-width: 350px) and (max-width: 700px){
    #nav{
      width: 100%;
      height: 30px;
      display: flex;
      background-color: rgb(179, 185, 245);
      position: fixed;
      z-index: 11;
      color: white;
      justify-content: space-around;
      align-items: center;
      /* border: 2px solid red ; */
      padding: 20px;
      transition: all ease .5s;
    }
  
  }
  
  #cat-swiper{
    position: absolute;
    width: 100%;
    min-height: auto;
    padding-bottom: 30px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, black, #9fc6f6);
  }

  #cat-swiper > h2{
    /* border: 2px solid red; */
    padding: 10px 5px;
    color: #fff;
    z-index: 11;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 350px) and (max-width: 700px){
    .swiper {
      width: 200%;
      height: 70%;
    }

     
  #cat-swiper{
    position: absolute;
    min-width: 100%;
    min-height: auto;
    padding-bottom: 30px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, black, #9fc6f6);
  }

  
  }

  .swiper-slide {
    text-align: center;
    width: 100px;
    height: 450px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  #nav:hover{
    background-color: #5ecb1550;
  }
  
  #nav > #logo{
    width: 10%;
    /* background-color: red; */
  }

 
  
  #nav > #logo > i {
   font-size: 5vw;
  }

  @media screen and (min-width:350px) and (max-width: 700px) {
    #nav > #logo > i {
      font-size: 10vw;
      margin-left: -10px;
     }
  }
  #nav > #text{
    margin-right: 10vw;
    /* background-color: #fff; */
  
  }
  @media screen and (min-width: 350px) and (max-width: 700px) {
    #nav > #text{
      /* margin-right: 10vw; */
      margin-left: 10vw;
      /* background-color: #fff; */
    } 
  }
  #nav > #text > a{
    font-size: 2vw;
    font-weight: 400;
    margin-right: 30px;
    opacity: .7;
    text-decoration: none;
    color: white;
    transition: all ease 0.6s;
  }
  
  @media screen and (min-width: 350px) and (max-width: 700px) {
    #nav > #text > a{
      font-size: 3.5vw;
      font-weight: 500;
      margin-right: 15px;
      opacity: .9;
      text-decoration: none;
      color: white;
      transition: all ease 0.6s;
    } 
  }

  #nav > #text > a:hover{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2.4vw;
  }
  
  a{
    text-decoration: none;
  }
  a > i{
    font-size: 4vw;
    font-weight: 400;
    margin-right: 30px;
    opacity: .7;
    text-decoration: none;
    color: white;
  }

  @media screen and (min-width: 350px) and (max-width: 700px) {
    a > i{
      font-size: 7vw;
      font-weight: 400;
      margin-right: 30px;
      opacity: .7;
      text-decoration: none;
      color: white;
    }
  }
  #nav > #search{
    font-size: 3.5vw;
  }
  #nav > #search > a{
    text-decoration: none;
    color: white;
  }

  #cat-div{
    border: 2px solid black;
    width: 100%;
    height: 50vh;
    background-color: black;
  }

  #cat-div > h2{
    padding: 10px 5px;
  }

  .catt{
    height: 110px;
    padding-left: 10px;
    /* background-color: #9fc6f6; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @media screen and (min-width:350px) and (max-width: 700px) {
    #cat-div{
      border: 2px solid black;
      width: 100%;
      min-height: 350vh;
      background-color: black;
    }
  
    .catt{
      height: 150px;
      padding-left: 10px;
      /* background-color: #9fc6f6; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

  }

  .catt > a{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 350px) and (max-width: 700px) {
    .catt > a{
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }    

    
  }
  .catt > a >button{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    font-size: 2vw;
    color: white;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.413);
    border: none;
    /* gap: 50px; */
  }

  @media screen and (min-width: 350px) and (max-width: 700px) {
    #cat-1{
      background-color: black;
      height: 50%;
    }

    #cat-2{
      background-color: black;
      height: 50%;
    }

    .catt > a >button{
      width: 80%;
      height: 50%;
      border-radius: 20px;
      font-size: 8vw;
      color: white;
      font-weight: 900;
      background-color: rgba(255, 255, 255, 0.413);
      border-radius: 40px;
      border: none;
      /* gap: 50px; */
    }
  }

  
  .catt > a:nth-child(1) > button > i {
    color: rgb(6, 197, 255);
}

.catt > a:nth-child(3) > button > i {
    color: rgba(205, 219, 166, 0.568);
}

.catt > a:nth-child(2) > button > i {
    color: rgb(206, 249, 99);
}

.catt > a:nth-child(4) > button > i {
    color: rgba(77, 46, 100, 0.913);
}

.catt > a:nth-child(5) > button > i {
    color: rgba(255, 255, 133, 0.913);
}

.catt > a:nth-child(6) > button > i {
    color: rgba(57, 14, 91, 0.913);
}
